<div class="container">

  <div class="row mt-5">
    <div class="col-md-8">
      <!-- project card -->
      <div class="card d-block">
        <div class="card-body">
          <!-- project title-->
          <h1 class="mt-0">
            {{course[0].title}}
          </h1>
          <p class="font-16">
            <span class="text-warning mdi mdi-star"></span>
            <span class="text-warning mdi mdi-star"></span>
            <span class="text-warning mdi mdi-star"></span>
            <span class="text-warning mdi mdi-star"></span>
            <span class="text-warning mdi mdi-star"></span>
          </p>

          <div class="badge badge-secondary mb-3">김준우</div>

          <h5>강의 소개</h5>

          <p class="text-muted mb-2">
            이 강의는 리엑트를 처음 접하는 초보자 분들에게 적합한 강의 입니다.
          </p>

          <p class="text-muted mb-4">
            이 강의는 리엑트를 처음 접하는 초보자 분들에게 적합한 강의 입니다.
            이 강의는 리엑트를 처음 접하는 초보자 분들에게 적합한 강의 입니다.

            이 강의는 리엑트를 처음 접하는 초보자 분들에게 적합한 강의 입니다.
          </p>

          <div class="row">
            <div class="col-md-4">
              <div class="mb-4">
                <h5>강의 시작</h5>
                <p>2019년 4월 21 <small class="text-muted">1:00 PM</small></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-4">
                <h5>강의 끝</h5>
                <p>2019년 4월 21 <small class="text-muted">1:00 PM</small></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-4">
                <h5>가격</h5>
                <p>50,000</p>
              </div>
            </div>
          </div>
          <div class="row">
            <img class="card-img-top" src="assets/images/basic/project-{{course[0].id}}.jpg" alt="project image cap">
          </div>
        </div> <!-- end card-body-->

      </div> <!-- end card-->

      <app-comment></app-comment>

    </div> <!-- end col -->

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">위치</h5>
          <p>서울대학교 블라블라</p>
        </div>
      </div>
      <!-- end card-->

      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">요일</h5>
          <p>2019-04-21-토요일</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">시간</h5>
          <p>00:00 - 24:00</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">금액</h5>
          <p>50,000원</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">수강신청</h5>
          <p>04-21 ~ 06-21</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->


</div>
