<!-- Start Content-->
<div class="container">

  <div class="row justify-content-center mt-5">
    <div class="col-xl-10">

      <!-- Pricing Title-->
      <div class="text-center">
        <h3 class="mb-2">멤버쉽</h3>
        <p class="text-muted w-50 m-auto">
          누림 서비스를 이용해 보세요!
        </p>
        <p class="text-muted w-75 m-auto">
          저렴한 베이직 서비스부터 프리미엄 서비스 까지 준비가 되어 있습니다.
        </p>
      </div>

      <!-- Plans -->
      <div class="row mt-sm-5 mt-4 mb-3">
        <div class="col-md-4">
          <div class="card card-pricing card-pricing-recommended">
            <div class="card-body text-center">
              <div class="card-pricing-plan-tag">Recommended</div>
              <p class="card-pricing-plan-name font-weight-bold text-uppercase">베이직</p>
              <i class="card-pricing-icon dripicons-user text-primary"></i>
              <h2 class="card-pricing-price">$8.99 <span>/ 월</span></h2>
              <ul class="card-pricing-features">
                <li>기초 수준의 강의</li>
              </ul>
              <button class="btn btn-primary mt-4 mb-2 btn-rounded">선택 하기</button>
            </div>
          </div> <!-- end Pricing_card -->
        </div> <!-- end col -->

        <div class="col-md-4">
          <div class="card card-pricing ">
            <div class="card-body text-center">
              <p class="card-pricing-plan-name font-weight-bold text-uppercase">스탠다드</p>
              <i class="card-pricing-icon dripicons-briefcase text-primary"></i>
              <h2 class="card-pricing-price">$47.99 <span>/ 월</span></h2>
              <ul class="card-pricing-features">
                <li>중급 수준의 강의</li>

              </ul>
              <button class="btn btn-primary mt-4 mb-2 btn-rounded">선택 하기</button>
            </div>
          </div> <!-- end Pricing_card -->
        </div> <!-- end col -->

        <div class="col-md-4">
          <div class="card card-pricing">
            <div class="card-body text-center">
              <p class="card-pricing-plan-name font-weight-bold text-uppercase">프리미엄</p>
              <i class="card-pricing-icon dripicons-store text-primary"></i>
              <h2 class="card-pricing-price">$89.99 <span>/ 월</span></h2>
              <ul class="card-pricing-features">
                <li>고급 수준의 강의</li>

              </ul>
              <button class="btn btn-primary mt-4 mb-2 btn-rounded">선택 하기</button>
            </div>
          </div> <!-- end Pricing_card -->
        </div> <!-- end col -->

      </div>
      <!-- end row -->

    </div> <!-- end col-->
  </div>
  <!-- end row -->

</div> <!-- container -->
