<div class="card">
  <div class="card-body">
    <h4 class="mt-0 mb-3">댓글 (1)</h4>

    <textarea class="form-control form-control-light mb-2" placeholder="Write message" id="example-textarea"
      rows="3"></textarea>
    <div class="text-right">
      <div class="btn-group mb-2">
        <button type="button" class="btn btn-link btn-sm text-muted font-18"><i
            class="dripicons-paperclip"></i></button>
      </div>
      <div class="btn-group mb-2 ml-2">
        <button type="button" class="btn btn-primary btn-sm">Submit</button>
      </div>
    </div>

    <div class="media mt-2">
      <img class="mr-3 avatar-sm rounded-circle" src="assets/images/avatar.png" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">송주현</h5>
        <p class="font-16">
          <span class="text-warning mdi mdi-star"></span>
          <span class="text-warning mdi mdi-star"></span>
          <span class="text-warning mdi mdi-star"></span>
          <span class="text-warning mdi mdi-star"></span>
          <span class="text-warning mdi mdi-star"></span>
        </p>

        헉 강의 너무 좋아요 진짜 너무너무 좋아요 세상 너무 행복쓰~~

        <div class="media mt-3">
          <a class="pr-3" href="#">
            <img src="assets/images/yskim.jpg" class="avatar-sm rounded-circle" alt="Generic placeholder image">
          </a>
          <div class="media-body">
            <h5 class="mt-0">김영서</h5>
            히히히 감사합니다~
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-2">
      <a href="javascript:void(0);" class="text-danger">Load more </a>
    </div>
  </div> <!-- end card-body-->
</div>
<!-- end card-->
